@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --theme-color: #232830;
  --purple: #df09df;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  color: var(--theme-color);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
header {
  background-color: rgb(241, 241, 241);
  padding: 25px 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.logo {
  flex-basis: 20%;
}
.logo a {
  color: var(--purple);
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  display: block;
  max-width: 180px;
}
.logo a span {
  color: var(--theme-color);
}
nav {
  flex-basis: 60%;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
nav ul li {
}
nav ul li a {
  color: var(--theme-color);
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
}
nav ul li a:hover {
}
.cart {
  flex-basis: 20%;
}
.cart ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.cart ul li {
  padding: 10px;
}
.cart ul li i {
  font-size: 20px;
  color: var(--theme-color);
}
.product_section {
  padding: 50px 0;
}
h1 {
  font-size: 40px;
  text-align: center;
  margin: 50px 0;
}

.columm_1_3 {
  flex-basis: 33.33%;
  padding: 15px;
}
.product_box {
  box-shadow: 0px 5px 20px #0000001a;
  padding: 20px;
  border-radius: 6px;
}
.product_box img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.product_box h2 {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
}
.product_box span {
  font-size: 16px;
  margin: 5px 0 15px;
  display: block;
  font-style: italic;
}
.product_box h3 {
  font-size: 16px;
}
.product_box h3 u {
  font-weight: 400;
  text-decoration: line-through;
  font-style: italic;
}
.variant {
  padding: 5px 0;
}
.variant h6 {
  margin: 5px 0;
  font-size: 20px;
}
.variant ul {
  list-style: none;
  display: flex;
}
.variant ul li {
  padding: 10px 5px;
}
.variant ul li input {
  display: none;
}
.size ul li label {
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 4px;
}
.size ul li input:checked + label,
.size ul li input + label:hover {
  background: var(--theme-color);
  color: #fff;
}
.color ul li label {
  height: 30px;
  width: 30px;
  display: block;
  border: 0px solid;
  border-radius: 4px;
}
.color ul li input#red + label {
  background-color: #f3433d;
  opacity: 0.8;
}
.color ul li input#green + label {
  background-color: #0fe72c;
  opacity: 0.8;
}
.color ul li input#blue + label {
  background-color: #2b8ddd;
  opacity: 0.8;
}
.color ul li input:checked + label,
.color ul li input + label:hover {
  opacity: 1 !important;
}

.add-to-cart {
  border: 1px solid #df09df;
  background: #df09df;
  color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 4px;
}
.add-to-cart i {
}
footer {
  background-color: var(--theme-color);
  padding: 20px;
  text-align: center;
}
footer p {
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
}
footer p a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
